@import '~@fluentui/react/dist/sass/References.scss';

.spoSpfxAlertsWebpart {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.alert {
  color: "[theme:bodyText, default: #323130]"
}

.warning {
  fill: #827700;
  background-color: #827700;
}